* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: #d3bb9a;
}

body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  background-color: #000000;
  background-image: linear-gradient(315deg, #1a1d25 0%, #666d7f 50%);
}
h3,
h4 {
  font-weight: 400;
  color: #a18d6c;
}

.App {
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 30%;
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";
